Repository impress-org/give-divi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "npm run lint:php"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

feature: shortcode generator helper function
  tests/unit/framework/helpers/shortcode.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: include helper
  tests/unit/bootstrap.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: shortcode builder test
  tests/unit/tests/ShortcodeBuilderHelperTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: donation form module test
  tests/unit/tests/DonationFormTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: update give version
  tests/unit/tests/ExampleTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Add the multi-select custom component to be used in the Divi builder (#27)
  package-lock.json
  package.json
  src/Divi/CustomFields/MultiSelect/index.js
  src/Divi/CustomFields/MultiSelect/style.css
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/Totals/Module.php
  src/Divi/resources/js/give-divi.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

Update readme for .org purposes
  give-divi.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

format: code
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: URL parameters delimiter
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonationReceipt/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: add default parameter value
  src/Divi/Routes/RenderTotals.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: add explanation comment
  src/Divi/Modules/DonationReceipt/index.js
Due: eslint --fix

The Donation Receipt module is now working regardless of the permalink settings (#33)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonationReceipt/index.js
  src/Divi/Routes/RenderTotals.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

chore: Update plugin name and version for Alpha release.
  give-divi.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: Remove overly strict environment check for Divi.
  src/Addon/Environment.php
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: Update version for Alpha 2.
  .gitignore
  give-divi.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: multi-form goal module
  src/Divi/Modules/MultiFormGoal/Module.php
  src/Divi/Modules/MultiFormGoal/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register multi-form goal module
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: add missing form grid module
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: register multi-form goal module
  src/Divi/resources/js/give-divi.js
Due: eslint --fix

feature: multi-form goal module route
  src/Divi/Routes/RenderMultiFormGoal.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: remove shortcode helper
  tests/unit/bootstrap.php
  tests/unit/framework/helpers/shortcode.php
  tests/unit/tests/ShortcodeBuilderHelperTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: form test
  tests/unit/tests/DonationFormTest.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Add Multi Form Goal Module (#36)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/MultiFormGoal/Module.php
  src/Divi/Modules/MultiFormGoal/index.js
  src/Divi/Routes/RenderMultiFormGoal.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

chore: add workflows for deployment and prereleases
  .distignore
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package-lock.json
Due: prettier --write

chore: update wp.org slug
  .github/workflows/release.yml
Due: none

fix: constant name
  src/Divi/resources/views/admin/notices/give-inactive.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Update readme.txt for wp.org purposes
  readme.txt
Due: none

chore: prepare for 1.0.0 release
  CHANGELOG.md
  give-divi.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: fix github workflows by removing non-existent job dependency
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

chore: switch to correct npm script
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

chore: correct zip name in asset path
  .github/workflows/release.yml
Due: none

doc: update WP version
  give-divi.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: forms list
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: update module type
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add support for single option select
  src/Divi/CustomFields/MultiSelect/index.js
Due: eslint --fix

fix: prevent range slider to add 'px' to value
  src/Divi/Modules/DonorWall/Module.php
  src/Divi/Modules/FormGrid/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add single option flag
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php
