Repository impress-org/give-divi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "npm run lint:php"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

refactor: update comments, attributes, etc.
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: ignore line; reformat code
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: husky
  src/Divi/resources/views/admin/notices/divi-inactive-error.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: update textdomain
  wp-textdomain.js
Due: eslint --fix

refactor: donation form component
  src/Divi/Modules/DonationForm/index.js
Due: eslint --fix

Initial
  src/Divi/Routes/Endpoint.php
  src/Divi/Routes/RenderDonationForm.php
  src/Divi/resources/js/api.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: attribute names
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: register rest endpoint
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: localize script
  src/Divi/Assets.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: install axios and react html parser
  package-lock.json
  package.json
Due: prettier --write

chore: Scaffold unit tests with example.
  composer.json
  composer.lock
  phpunit.xml
  tests/unit/README.md
  tests/unit/bin/install.sh
  tests/unit/bootstrap.php
  tests/unit/framework/class-give-unit-test-case.php
  tests/unit/framework/helpers/class-helper-form.php
  tests/unit/framework/helpers/class-helper-payment.php
  tests/unit/framework/helpers/shims.php
  tests/unit/tests/ExampleTest.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: Update changelog.
  CHANGELOG.md
Due: none

Initial
  src/Divi/Modules/DonorWall/Module.php
  src/Divi/Modules/DonorWall/index.js
  src/Divi/Routes/RenderDonorWall.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: attributes again to avoid divi builder conflicts
  src/Divi/Modules/DonationForm/Module.php
  src/Divi/Modules/DonationForm/index.js
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: update plugin name and description
  give-divi.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: error with the template name
  src/Divi/resources/views/admin/notices/divi-inactive-error.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: moved into helpers directory
  src/Divi/Helpers/Assets.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: load assets only if divi builder is activated
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: use props instead of state
  src/Divi/Modules/DonationForm/index.js
  src/Divi/Modules/DonorWall/index.js
Due: eslint --fix

refactor: add donor wall module
  src/Divi/AddonServiceProvider.php
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: update attributes
  src/Divi/Modules/DonorWall/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: add donor wall component
  src/Divi/resources/js/give-divi.js
Due: eslint --fix

fix: set endpoint and use correct render shortcode method
  src/Divi/Routes/RenderDonorWall.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: Remove unecessary helpers.
  tests/unit/bootstrap.php
  tests/unit/framework/helpers/class-helper-form.php
  tests/unit/framework/helpers/class-helper-payment.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: Remove scripted dependency plugin install.
  tests/unit/bin/install.sh
Due: none

refactor: remove unused methods
  src/Divi/Modules/DonorWall/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add reveal iframe script
  src/Divi/resources/js/reveal-iframe.js
  webpack.mix.js
Due: eslint --fix

feature: load reveal iframe script
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: use post instead of get to remove query strings
  src/Divi/Modules/DonationForm/index.js
Due: eslint --fix

refactor: change user required permissions
  src/Divi/Routes/Endpoint.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add rest flag and unset the rest_route query arg
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: define modules and modules routes in one place
  src/Divi/AddonServiceProvider.php
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

update languages
  languages/give-divi.pot
Due: none

feature: form goal module
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/FormGoal/Module.php
  src/Divi/Modules/FormGoal/index.js
  src/Divi/Routes/RenderFormGoal.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: forms repository
  src/Divi/Modules/DonationForm/Module.php
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: login module
  src/Divi/Modules/LoginForm/Module.php
  src/Divi/Modules/LoginForm/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: login module route
  src/Divi/Routes/RenderLoginForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: register login module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: registration form module
  src/Divi/Modules/RegistrationForm/Module.php
  src/Divi/Modules/RegistrationForm/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: registration form route
  src/Divi/Routes/RenderRegistrationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php
