Repository impress-org/give-divi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix", "npm run lint:php"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

feature: register registration form module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: render registration form helper
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: remove unused repository method
  src/Divi/Modules/LoginForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: donation receipt module
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonationReceipt/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register donation receipt module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: render donation receipt route
  src/Divi/Routes/RenderDonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: donation repository
  src/Divi/Repositories/Donation.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add donation id
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonationReceipt/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: remove test method; update getLastDonationId
  src/Divi/Repositories/Donation.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: remove test code
  src/Divi/Routes/RenderDonationReceipt.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: profile editor module
  src/Divi/Modules/ProfileEditor/Module.php
  src/Divi/Modules/ProfileEditor/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: register profile editor module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

fix: component class name
  src/Divi/Modules/FormGoal/index.js
Due: eslint --fix

feature: profile editor module route
  src/Divi/Routes/RenderProfileEditor.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: totals module
  src/Divi/Modules/Totals/Module.php
  src/Divi/Modules/Totals/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register totals module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register totals module route
  src/Divi/Routes/RenderTotals.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: user capability warnings
  src/Divi/Routes/Endpoint.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Add Profile Editor Module (#18)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/FormGoal/index.js
  src/Divi/Modules/ProfileEditor/Module.php
  src/Divi/Modules/ProfileEditor/index.js
  src/Divi/Routes/RenderProfileEditor.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

Add Totals Module (#20)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/Totals/Module.php
  src/Divi/Modules/Totals/index.js
  src/Divi/Routes/Endpoint.php
  src/Divi/Routes/RenderTotals.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

fix: Update query parameter identifier.
  src/Divi/Modules/DonationReceipt/index.js
Due: eslint --fix

Add Donation Receipt module (#16)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonationReceipt/index.js
  src/Divi/Repositories/Donation.php
  src/Divi/Routes/RenderDonationReceipt.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: form grid module
  src/Divi/Modules/FormGrid/Module.php
  src/Divi/Modules/FormGrid/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register form grid module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: form grid route
  src/Divi/Routes/RenderFormGrid.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: donation history module
  src/Divi/Modules/DonationHistory/Module.php
  src/Divi/Modules/DonationHistory/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register donation history module
  src/Divi/Helpers/Modules.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: donation history module route
  src/Divi/Routes/RenderDonationHistory.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: multi select custom field component
  src/Divi/CustomFields/MultiSelect/index.js
  src/Divi/CustomFields/MultiSelect/style.css
Due: eslint --fix

feature: add multi-select dependency
  package-lock.json
  package.json
Due: prettier --write

feature: register custom field component
  src/Divi/resources/js/give-divi.js
Due: eslint --fix

fix: update path
  package.json
Due: prettier --write

refactor: make use of multi select component
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/Totals/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: subscriptions table module
  src/Divi/Modules/SubscriptionsTable/Module.php
  src/Divi/Modules/SubscriptionsTable/index.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

feature: register subscriptions table module
  src/Divi/resources/js/give-divi.js
Due: eslint --fix

feature: check if add-on is active and register subscriptions table module
  src/Divi/Helpers/Modules.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: subscriptions table module route
  src/Divi/Routes/RenderSubscriptionTable.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Add Form Grid Module (#22)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/FormGrid/Module.php
  src/Divi/Modules/FormGrid/index.js
  src/Divi/Routes/RenderFormGrid.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

Add Donation History Module (#24)
  src/Divi/Helpers/Modules.php
  src/Divi/Modules/DonationHistory/Module.php
  src/Divi/Modules/DonationHistory/index.js
  src/Divi/Routes/RenderDonationHistory.php
  src/Divi/resources/js/give-divi.js
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: class name
  src/Divi/CustomFields/MultiSelect/index.js
Due: eslint --fix
