Repository impress-org/give-divi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

fix: dropdown visibility
  src/Divi/CustomFields/MultiSelect/style.css
Due: none

refactor: use multi select dropdown instead of text input field for selecting donation forms
  src/Divi/Modules/FormGrid/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: show featured image
  src/Divi/Modules/FormGrid/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: update changelog
  CHANGELOG.md
Due: none

fix: add required php version in composer
  composer.json
Due: prettier --write

build: run composer update
  composer.lock
Due: none

build: run npm install
  package-lock.json
Due: prettier --write

fix: id check
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: prepare for 1.0.1 release
  CHANGELOG.md
  give-divi.php
  package.json
  readme.txt
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: correct package version
  .github/workflows/release.yml
  package-lock.json
Due: prettier --write

fix: remove settings and documentation links that go nowhere
  src/Addon/ActivationBanner.php
  src/Divi/Modules/DonationForm/Module.php
  src/Divi/Modules/DonationHistory/Module.php
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonorWall/Module.php
  src/Divi/Modules/FormGoal/Module.php
  src/Divi/Modules/FormGrid/Module.php
  src/Divi/Modules/LoginForm/Module.php
  src/Divi/Modules/MultiFormGoal/Module.php
  src/Divi/Modules/ProfileEditor/Module.php
  src/Divi/Modules/RegistrationForm/Module.php
  src/Divi/Modules/SubscriptionsTable/Module.php
  src/Divi/Modules/Totals/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

updated readme and removed empty settings link from banner
  readme.txt
  src/Addon/ActivationBanner.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: optimize imports
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: use the correct hook to boot the modules
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Fix: Restore compatibility with latest Divi version (#43)
  src/Divi/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: update github workflows to use shared
  .github/workflows/pre-release.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

chore: update to latest coding standards
  .editorconfig
  .eslintignore
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  .phpcs.xml
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

chore: prepare for 1.0.2 release
  give-divi.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: correct input variable name
  .github/workflows/release.yml
Due: none

Fix: Correct types, readme, and links (#45)
  readme.txt
  src/Addon/ActivationBanner.php
  src/Divi/Modules/DonationForm/Module.php
  src/Divi/Modules/DonationHistory/Module.php
  src/Divi/Modules/DonationReceipt/Module.php
  src/Divi/Modules/DonorWall/Module.php
  src/Divi/Modules/FormGoal/Module.php
  src/Divi/Modules/FormGrid/Module.php
  src/Divi/Modules/LoginForm/Module.php
  src/Divi/Modules/MultiFormGoal/Module.php
  src/Divi/Modules/ProfileEditor/Module.php
  src/Divi/Modules/RegistrationForm/Module.php
  src/Divi/Modules/SubscriptionsTable/Module.php
  src/Divi/Modules/Totals/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: prepare for 1.0.3 release
  give-divi.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: iframe component
  src/Divi/Modules/DonationForm/Components/Iframe.js
Due: eslint --fix

feature: modal component
  src/Divi/Modules/DonationForm/Components/ModalForm.js
Due: eslint --fix

feature: use new components
  src/Divi/Modules/DonationForm/index.js
Due: eslint --fix

feature: add new options settings
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add getV3Forms method
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add new response for v3 forms
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: bump php version
  composer.json
Due: prettier --write

feature: add view url and btn styles
  src/Divi/Modules/DonationForm/index.js
Due: eslint --fix

refactor: use button label
  src/Divi/Modules/DonationForm/Components/ModalForm.js
Due: eslint --fix

feature: use button label
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: add button label and form view url
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

feature: button styles
  src/Divi/Modules/DonationForm/styles.scss
Due: stylelint --fix

refactor: make isV3form prop optional
  src/Divi/Modules/DonationForm/index.js
Due: eslint --fix

refactor: use this.props
  src/Divi/Modules/DonationForm/Components/ModalForm.js
Due: eslint --fix

feature: add generate plugin zip workflow
  .github/workflows/generate-zip.yml
Due: none

Create generate-zip.yml
  .github/workflows/generate-zip.yml
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  npm run lint:php: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
