Repository impress-org/give-divi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

Update plugin zip name
  .github/workflows/generate-zip.yml
Due: none

refactor: zip file name
  .github/workflows/generate-zip.yml
Due: none

refactor: remove v3 form limitations
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: save v3 form attributes
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

fix: php8 notice
  src/Divi/Modules/DonationForm/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

refactor: use Utils::isV3Form
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

Feature: Give 3.0 compatibility (#46)
  composer.json
  src/Divi/Modules/DonationForm/Components/Iframe.js
  src/Divi/Modules/DonationForm/Components/ModalForm.js
  src/Divi/Modules/DonationForm/Module.php
  src/Divi/Modules/DonationForm/index.js
  src/Divi/Modules/DonationForm/styles.scss
  src/Divi/Repositories/Forms.php
  src/Divi/Routes/RenderDonationForm.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix, stylelint --fix

chore: prepare for release 2.0.0
  give-divi.php
  readme.txt
  src/Divi/Modules/DonationForm/Components/Iframe.js
  src/Divi/Modules/DonationForm/Components/ModalForm.js
  src/Divi/Repositories/Forms.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php, eslint --fix

refactor: use isV3Form helper and cast type
  src/Divi/Repositories/Forms.php
  src/Divi/Routes/RenderDonationForm.php
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: prepare release for 2.0.0
  composer.json
  give-divi.php
  phpunit.xml
  readme.txt
  tests/Unit/TestGiveDivi.php
  tests/bootstrap.php
  tests/unit/README.md
  tests/unit/bin/install.sh
  tests/unit/bootstrap.php
  tests/unit/framework/class-give-unit-test-case.php
  tests/unit/framework/helpers/shims.php
  tests/unit/tests/ExampleTest.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: add unit tests workflow
  .github/workflows/unit-tests.yml
Due: none

chore: update readme
  readme.txt
Due: none

chore: add text_domain to workflow
  .github/workflows/release.yml
Due: none

chore: update distignore file
  .distignore
Due: none

chore: prepare for release
  give-divi.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix, npm run lint:php

chore: update date
  readme.txt
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  npm run lint:php: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
